h1 {
  font-family: "Arial";
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
.xr-event-description {
  color: #7fffd4;
}
.col {
  width: 33.3333%;
  display: inline-block;
}
.faq-format {
  width: 66.66666667%;
  margin-left: 16.6666667%;
}
.faq-question {
  font-size: 24px;
}
.faq-answer {
  font-size: 20px;
}
#logo {
  height: 260px;
  width: 420px;
}
