h1 {
  font-family: "Arial";
}
p {
  display: block;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
.xr-event-description {
  color: #7fffd4;
}
#logo {
  height: 260px;
  width: 420px;
}
