h1, h2, p, body {
    margin: 0;
    font-family: 'Open-Sans', "Arial";
    color: rgba(95,107,128,1.0);
}
h2 {
  text-align: center;
  padding: 1rem 2rem;
  font-size: 2rem;
}
h3 {
  text-align: center;
  font-size: 1rem;
}
h4 {
  text-align: center;
  font-size: 1rem;
}

/* COLORS */
/* rgba(128,182,133,1.0) GREEN */
/* rgba(95,107,128,1.0) GREY */
/* rgba(111,139,130,1.0) */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
}

.row.section {
  padding-top: 150px;
}
/*.container-format-1 {
  background: linear-gradient(#549cbe, #649fed);
  padding-top: 160px;
}
.container-format-2 {
  background: linear-gradient(#649fed, #f5deb3);
  background: #649fed;
  padding-top: 350px;
}
.container-format-3 {
  background: linear-gradient(#f5deb3, #d2b48c);
  background: linear-gradient(#649fed, #f5deb3);
}
.container-format-4 {
  background: linear-gradient(#f5deb3, #d2b48c);
  padding-top: 40px;
  padding-right: 1300px;
}*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.xr-event-description {
  color: #fff5ee;
  font-size: 24px;
}
.sign-up-button {
  padding-top: 20px;
}
.schedule {
  width: 100%;
  /*border: 1px solid blue;*/
  text-align: center;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.schedule_element {
  justify-content: space-between;
  align-content: center;
  display: flex;
  padding: 3px 0px;
}
.schedule_event {
  text-align: left;
}

.schedule_time {
  text-align: right;
}

.card_container {
  display: block !important;
}
.card_content {
  padding: 10px;
}
.card {
  display: inline-block;
  background-color: #f0f8ff;
  color: #000000;
  border-radius: 0.5rem;
  border: 2px solid rgba(128,182,133,1.0);
  box-shadow: 0px 0px 15px rgba(95,107,128,0.5);
  margin-bottom: 2rem;
}

.faq .card {
  width: 100%;
}
.col {
  padding: 0px 1rem !important;
}

.schedule-event {
  margin-right: 10px;
}
.schedule-time {
  margin-left: 10px;
}

.faq-format {
  width: 100%;
  /*border: 1px solid blue;*/
  text-align: center;
}
.faq-question {
  font-size: 24px;
  font-weight: bold;
  color: inherit;
  margin: 0px;
  margin-bottom: 10px;
}
.faq-answer {
  font-size: 16px;
  color: inherit;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-envelope {
  background: #dc143c;
  color: white;
}

/* ////////// LANDING SECTION ////////// */

.landing {
  height: 700px;
  padding: 40px 0px;
}

.container.logo {
  height: 400px;
  width: 900px;
  overflow: hidden;
}
.svg {
  height: 60%;
  position: absolute;
  display: inline;
}
.svg.all {
  left: 0px;
  width: 100%;
}

/*.svg.arrow {
  left: 0px;
  z-index: 9;
}
.svg.logo {
  /*left: 0px;
  display: block;
  margin: auto;
  /*text-align: center;
  z-index: 10;
}
.svg.block{
  right: 0px;
  z-index: 9;
}*/

/* ////////// NAVBAR ////////// */

.navbar{
  position: sticky;
  top: 0px;
  height: 60px;
  background-color: rgba(125,137,158,1.0);
  color: white;
}

.navlink {
  height: 50px;
  margin: 3px 0px;
  cursor: pointer;
  /*border-bottom: 0px solid rgba(75,87,108,1.0);*/
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  background-color: rgba(125,137,158,0.0);
}

.navlink:hover {
  background-color: rgba(75,87,108,1.0);
  /*border-bottom: 2px solid rgba(125,137,158,1.0);*/
}


#sign-up {
  width: 100%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(128,182,133,1.0);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(98,152,103,1.0);
  font-weight: bold;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
#sign-up:hover {
  background-color: rgba(137,192,143,1.0);
}

#schedule {
  font-size: 34px;
  color: #fff;
  padding-bottom: 20px;
}
#faq {
  font-size: 34px;
  color: rgba(95,107,128,1.0);
  padding-top: 40px;
}
#day {
  padding-bottom: 10px;
}
#box {
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 60em;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  z-index: -1;
}
