@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,600%7CAlegreya+Sans+SC:400,700%7CAntic%7CDosis:400,600%7CHind+Siliguri:400,600%7CIstok+Web%7CJulius+Sans+One%7CMallanna%7CMeera+Inimai%7CMukta+Malar:400,600%7CNews+Cycle%7CNunito:400,600%7CRaleway:400,600%7CSeymour+One%7CSyncopate');

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/oaBFj7Fz9Y9_eW3k9Jd9X6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Siliguri SemiBold'), local('HindSiliguri-SemiBold'), url(https://fonts.gstatic.com/s/hindsiliguri/v4/fBpmjMpv5Rh6S25yVfWJn2KfMIkbG8AbRwbbZe_KZt0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
} /* Winner Winner */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v12/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v9/6TbRXKWJjpj6V2v_WyRbMevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

h1, h2, p, body {
    margin: 0;
    font-family: 'Open-Sans', "Arial";
    color: rgba(95,107,128,1.0);
}
h1 {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Nunito';
}
button h1 {
  color: white;
  padding: 0px;
}
h2 {
  text-align: center;
  padding: 2rem 2rem;
  font-size: 3rem;
  font-family: 'Nunito';
  font-weight: 400;
}
h3 {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Dosis';
  font-weight: 600;
  letter-spacing: 0.5px;
}
.card h3 {
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted rgba(95,107,128,0.4);
}
h4, a {
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

h4, span, p, a{
  font-family: 'Hind Siliguri';
}

a {
  text-align: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

b {
  font-weight: 900;
  color: rgba(128,182,133,1.0);
}

/* COLORS */
/* rgba(128,182,133,1.0) GREEN */
/* rgba(95,107,128,1.0) GREY */
/* rgba(111,139,130,1.0) */

.landing_content, .body_content, .navbar_content, .footer_content {
  max-width: 1600px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
}

.row.section {
  margin-top: 100px;
  padding-top: 50px;
}

.body_container {
  background: linear-gradient(rgba(128,182,133,0.2), rgba(95,107,128,0.2));
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
em.italic {
  font-style: italic;
}
.xr-event-description {
  color: #fff5ee;
  font-size: 24px;
}
.sign-up-button {
  padding-top: 20px;
}
.schedule {
  width: 100%;
  /*border: 1px solid blue;*/
  text-align: center;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.schedule_element {
  justify-content: space-between;
  align-content: center;
  display: flex;
  padding: 3px 0px;
}
.schedule_event {
  text-align: left;
}

.schedule_time {
  text-align: right;
}

.card_container {
  display: block !important;
}
.card_content {
  padding: 10px;
}
.card {
  display: inline-block;
  background-color: #f0f8ff;
  color: #000000;
  border-radius: 0.5rem;
  /*border: 2px solid rgba(128,182,133,1.0);*/
  box-shadow: 0px 0px 15px rgba(95,107,128,0.5);
  margin-bottom: 2rem;
  width: 100%;
}

.col {
  padding: 0px 1rem !important;
}

.schedule-event {
  margin-right: 10px;
}
.schedule-time {
  margin-left: 10px;
}

.faq-format {
  width: 100%;
  /*border: 1px solid blue;*/
  text-align: center;
}
.faq-question {
  font-size: 24px;
  font-weight: bold;
  color: inherit;
  margin: 0px;
  margin-bottom: 10px;
}
.faq-answer {
  font-size: 16px;
  color: inherit;
}

/* ////////// LANDING SECTION ////////// */

.landing {
  padding: 20px 0px;
  padding-bottom: 180px;
  margin-bottom: 0px;
  background: linear-gradient(rgba(128,182,133,0.1), rgba(128,182,133,0.15));
}
.landing .row {
  margin: 0px;
  padding: 0px;
  /*margin-bottom: 15px;*/
}

.svg_container {
  width: 100%;
  height: auto;
}
.svg {
  width: 100%;
  height: auto;
  position: relative;
  display: inline;
}

.present .col {
  padding-left: 0px !important;
}
.presented_by {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  padding-left: 0px;
}

.svg.xr {
  display: block;
  margin: auto;
  text-align: center;
  z-index: 10;
}

#register, #facebook {
  width: 100%;
  display: inline-block;
  padding: 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 15px rgba(95,107,128,0);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

#register {
  background-color: rgba(95,107,128,1.0);
}
#register:hover {
  background-color: rgba(75,87,108,1.0);
  box-shadow: 0px 0px 15px rgba(95,107,128,0.5);
}

#facebook {
  background-color: rgba(128,182,133,1.0);
}
#facebook:hover {
  background-color: rgba(108,162,113,1.0);
  box-shadow: 0px 0px 15px rgba(95,107,128,0.5);
}

/* ////////// NAVBAR ////////// */

.navbar{
  width: 100%;
  position: sticky;
  top: 0px;
  height: auto;
  background-color: rgba(125,137,158,1.0);
  color: white;
}
.navbar h4 {
  margin: 0px;
}

.navlink {
  height: 50px;
  cursor: pointer;
  padding: 10px 0px 0px 0px !important;
  margin-left: 30px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  background-color: rgba(125,137,158,0.0);
}
.nav_container {
  display: block;
  border-bottom: 2px solid rgba(125,137,158,0);
  padding: 0px 0px 0px 75px !important;
}
.navbar h4 {
  font-weight: 400;
}
.thick {
  font-weight: 900 !important;
}
.navbar_name {
  display: inline;
  padding: none;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.navbar_name:hover {
  color: rgba(128,182,133,1.0);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.effect {
  position: relative;
  right: 0px;
  width: 0%;
  border-bottom: 2px solid white;
  margin-left: auto;
  transition: all 2s;
  -webkit-transition: all 0.5s;
}
.navlink:hover .effect {
  width: 100%;
}

/* ////////// FAQ ////////// */

.link {
  color: rgba(128,182,133,1.0);
  text-decoration: underline;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  text-shadow: 0px 0px 5px rgba(95,107,128,0.0);
}
.link:hover {
  color: rgba(158,212,163,1.0);
  text-shadow: 0px 0px 5px rgba(255,255,255,0.2);
}

/* ////////// SCHEDULE ////////// */

.disclaimer {
  opacity: 0.5;
}

#day {
  padding-bottom: 10px;
}

#box {
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 60em;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  z-index: -1;
}

/* ////////// LINKS ////////// */

#devpost, #slack {
  width: 100%;
  display: inline-block;
  padding: 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 15px rgba(95,107,128,0);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
/* Devpost dark-blue rgba(5,62,83,1.0) */
/* Devpost light-blue rgba(68,204,228,1.0) */
#devpost {
  background-color: rgba(95,107,128,1.0);
  border: 2px solid rgba(68,204,228,0);
}
#devpost:hover {
  background-color: rgba(5,62,83,1.0);
  box-shadow: 0px 0px 15px rgba(95,107,128,1.0)
}
/* Slack magenta rgba(203,30,93,1.0) */
/* Slack orange rgba(224,163,71,1.0) */
/* Slack blue rgba(116,196,201,1.0) */
/* Slack green rgba(69,172,134,1.0) */
#slack {
  background-color: rgba(95,107,128,1.0);
  border: 2px solid rgba(203,30,93,0);
}
#slack:hover{
  background-color: rgba(203,30,93,1.0);
  box-shadow: 0px 0px 15px rgba(95,107,128,1.0)
}

/* ////////// SPONSORSHIP ////////// */

.sponsor h3 {
  margin-bottom: 4rem;
}
.sponsor img {
  width: 100%;
  height: auto;
}

/* ////////// FOOTER ////////// */

.footer {
  height: 150px;
  width: 100%;
  background-color: rgba(95,107,128,1.0);
}

.footer .row {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.fa {
  padding: 10px;
  font-size: 4rem;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.fa:hover {
  opacity: 0.7;
}

a.vrlogo {
 position: relative;
 display: inline-block;
 width: 25%;
}
a.vrlogo:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
object {
  width: 100%;
}
